body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 10px;
}
::-webkit-scrollbar-track {
  height: 15px;
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
}
::-webkit-scrollbar-thumb:hover {
  background: #383838;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
